@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.glass {
  @apply bg-white/5 backdrop-blur-md border border-white/10;
}

.section {
  @apply py-20;
}

.container {
  @apply max-w-6xl mx-auto px-4 sm:px-6 lg:px-8;
}




:root {
  --tw-bg-size-grid: 24px;
}

.bg-grid {
  background-image:
    linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);
  background-size: var(--tw-bg-size-grid) var(--tw-bg-size-grid);
}

.shadow-glow {
  box-shadow: 0 0 0 0 rgba(56, 189, 248, .0), 0 10px 40px rgba(56, 189, 248, .25);
}



.glass:hover {
  box-shadow: 0 0 0 0 rgba(56, 189, 248, 0),
              0 0 25px rgba(56, 189, 248, 0.3),
              0 10px 40px rgba(56, 189, 248, 0.4);
  transition: all 0.3s ease-in-out;
}


